@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans Georgian", sans-serif;
  color: #28282b;
  background-color: white;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  all: unset;
  cursor: pointer;
}

.container {
  padding-inline: 12.5%;
}

.header {
  padding-block: 15px;
  background-color: #28282b;
}

.logo {
  width: 400px;
}

.nav-ul {
  display: flex;
  align-items: center;

  & li {
    flex: 1 1 0;
    display: block;
    text-align: center;
    a {
      text-decoration: none;
      color: white;
      font-size: 18px;
      transition: ease-in-out 250ms;
    }
  }

  a:hover {
    color: red;
    letter-spacing: 1px;
  }
}

.nav-button {
  color: white;
  border-radius: 5px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.main-body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-inline: 0;
  .inner {
    z-index: 3;
    position: absolute;
  }
}

.swiper {
  position: relative;
  width: 100%;
  height: 80vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  object-fit: cover;
}

main section {
  & h1 {
    font-size: 45px;
    letter-spacing: 2px;

    & .span-white {
      color: white;
    }
    & .span-red {
      color: red;
    }
  }

  & p {
    color: white;
    font-size: 25px;
    font-weight: 300;
  }
}

.main-body-elements {
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  gap: 25px;
}

.body-elements-button {
  all: unset;

  a {
    color: white;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(255, 0, 0, 0.5);
    transition: ease-in-out 200ms;
  }

  a:hover {
    background-color: red;
    border-color: red;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 280px;
  border: 1px solid #28282b;
  background-color: white;
  border-radius: 15px;

  & img {
    display: block;
    margin: auto;
    width: 70%;
  }
}
/*  */

.card {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.onhover-text {
  position: absolute;
  bottom: 2%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  font-size: 18px;
  font-weight: 400;
}

.onhover-text-span {
  text-decoration: underline;
  font-size: 20px;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent 30%,
    rgba(255, 0, 0, 0.3)
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
  .onhover-text {
    opacity: 1;
    pointer-events: auto;
    letter-spacing: 1.5px;
  }
}

.onhover-text:hover {
  color: rgba(255, 0, 0, 0.5);
}

.card:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

/*  */

.about-company-div {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.partner-companies-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.partner-company-h1 {
  margin-block: 20px;
  text-align: center;
}

.about-us-h2 {
  font-size: 40px;
  margin-block: 30px;
  display: inline-block;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.contactus-h2 {
  font-size: 40px;
  margin-block: 30px;
}

.phone-number {
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: red;
}

.contactUsInfo-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
}

.locationmap-div {
  padding-bottom: 30px;
}

.footer {
  background-color: #28282b;
  padding-block: 12px;
  color: white;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
}

.copyright {
  color: #ffbf00;
}

@media (max-width: 1368px) {
  .container {
    padding-inline: 5%;
  }

  .main-body {
    padding-inline: 0;
  }

  .main-body-elements {
    & p {
      text-align: center;
      font-size: 18px;
    }
  }

  .card {
    height: 200px;
  }

  .onhover-text {
    font-size: 14px;

    .onhover-text-span {
      font-size: 16px;
    }
  }

  .about-us-h2 {
    font-size: 30px;
  }

  .partner-company-h1 {
    font-size: 30px;
  }

  .about-us-text {
    font-size: 18px;
    width: 80%;
  }

  .contactus-h2 {
    font-size: 30px;
  }

  .contactUsInfo-div {
    font-size: 18px;
  }

  .phone-number {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .nav-ul li a {
    font-size: 16px;
  }

  .main-body {
    padding-inline: 0;
  }

  .main-body-elements {
    width: 80%;
    margin: auto;
    & p {
      text-align: center;
      font-size: 18px;
    }
  }

  .card {
    height: 170px;
  }

  .onhover-text {
    font-size: 12px;

    .onhover-text-span {
      font-size: 14px;
    }
  }

  .about-us-h2 {
    font-size: 28px;
    display: block;
    text-align: center;
  }

  .about-us-text {
    font-size: 16px;
    width: 100%;
  }

  .partner-company-h1 {
    font-size: 28px;
  }

  .contactus-h2 {
    font-size: 28px;
    display: block;
    text-align: center;
  }

  .contactUsInfo-div {
    font-size: 16px;
  }

  .phone-number {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .container {
    padding-inline: 5%;
  }

  .main-body {
    padding-inline: 0;
  }

  .nav-ul li a {
    font-size: 12px;
  }

  .main-body-elements {
    width: 70%;
    margin: auto;
    & p {
      text-align: center;
      font-size: 14px;
    }
  }

  .body-elements-button {
    & a {
      font-size: 12px;
    }
  }

  .partner-company-h1 {
    font-size: 20px;
  }

  .card {
    height: 130px;
  }

  .onhover-text {
    font-size: 8px;

    .onhover-text-span {
      font-size: 10px;
    }
  }

  .partner-companies-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-us-h2 {
    font-size: 20px;
    display: block;
    text-align: center;
  }

  .about-us-text {
    font-size: 12px;
    width: 100%;
  }

  .contactus-h2 {
    font-size: 20px;
    display: block;
    text-align: center;
  }

  .contactUsInfo-div {
    font-size: 12px;
  }

  .contacts-p {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .phone-number {
    font-size: 16px;
  }

  .footer {
    font-size: 12px;
  }
}
